

@{
    ViewBag.Title = "Items";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@foreach (var i in ViewBag.ListItems)
{
    @i.Name<br/>

    @i.Description <br/>

    @i.Price<br/>

    @i.Quantity
}